#gp{
    border: 2px pink;
    height: 250px;
    width: 250px;
    margin: auto;
}
#pt{
    border: 2px black;
    height: 100px;
    width: 100px;
    margin: auto;
}
#cd{
    border: 2px green;
    height: 80px;
    width: 80px;
    margin: auto;
}