#value1{
    padding: 15px;
    margin-left: 210px;
    margin-top: 15px;
    background-color: rgb(180,169, 170);
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
}
#value2{
    padding: 15px;
    margin-left: 300px;
    margin-top: 15px;
    background-color: rgb(180,169, 170);
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
}
#value3{
    padding: 15px;
    margin-left: 300px;
    margin-top: 15px;
    background-color: rgb(180,169, 170);
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
}
#value4{
    padding: 15px;
    margin-left: 300px;
    margin-top: 15px;
    background-color: rgb(205,23,23 );
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
}
#value5{
    padding: 15px;
    margin-left: 450px;
    margin-top: 15px;
    background-color: rgb(205,23, 23);
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
}







